parameters:
    level: 'max'
    paths: [ 'src', 'bootstrap.php' ]
    checkFunctionNameCase: true
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: true
    parallel:
        maximumNumberOfProcesses: 4

includes:
    - 'vendor/phpstan/phpstan-deprecation-rules/rules.neon'
    - 'vendor/phpstan/phpstan/conf/bleedingEdge.neon'
    - 'rules.neon'
