parametersSchema:
    classFlagsIgnore: structure([
        extendable: structure([
            concrete: listOf(string())
            instanceOf: listOf(string())
        ])
        stateful: structure([
            concrete: listOf(string())
            instanceOf: listOf(string())
        ])
    ])

parameters:
    classFlagsIgnore:
        extendable:
            concrete: []
            instanceOf: []
        stateful:
            concrete: []
            instanceOf: []
    bootstrapFiles:
        - 'bootstrap.php'

services:
    statefulClassExclusionChecker:
        class: 'WeDevelop\PHPStan\ClassFlags\Exclude\ClassExclusionChecker'
        arguments:
            concrete: '%classFlagsIgnore.stateful.concrete%'
            instanceOf: '%classFlagsIgnore.stateful.instanceOf%'
    -
        class: 'WeDevelop\PHPStan\ClassFlags\Rule\IsStatefulRule'
        arguments:
            classExclusionChecker: '@statefulClassExclusionChecker'
        tags:
            - 'phpstan.rules.rule'

    extendableClassExclusionChecker:
        class: 'WeDevelop\PHPStan\ClassFlags\Exclude\ClassExclusionChecker'
        arguments:
            concrete: '%classFlagsIgnore.extendable.concrete%'
            instanceOf: '%classFlagsIgnore.extendable.instanceOf%'
    -
        class: 'WeDevelop\PHPStan\ClassFlags\Rule\IsExtendableRule'
        arguments:
            classExclusionChecker: '@extendableClassExclusionChecker'
        tags:
            - 'phpstan.rules.rule'
